footer {
	padding: $spacer 0;
	@include breakpoint(md) { padding: $spacer*3 0; }
	.social {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		li {
			list-style: none;
			margin-right: 2em;
			&:last-child { margin-right: 0; }
			a {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-end;
				text-decoration: none;
				svg {
					width: 24px;
					path { fill: $dark; }
				}
				span { margin-left: .5em; }
			}
		}
	}
}