.top-bar {
	position: fixed;
	z-index: 11;
	left: 1em;
}
.logged-in.admin-bar {
	.main-navigation { top: 32px; }	
}

.main-navigation {
	width: 100%;
	padding: 0;
	position: fixed;
	background-color: #fff;
	box-shadow: 3px 0 10px rgba(0,0,0,.25);
	top: 0;
	transform: translate( 0, -50px );
	transition: .15s transform $ease-default;
	z-index: 10;
	text-align: right;
	&.is-open {
		transform: translate( 0, 0 );
	}
	.menu {
		max-width: 1200px;
		padding: 0 $spacer;
	}
	li {
		margin-right: $spacer;
		line-height: 3em;
		float: none;
		display: inline-block;
		&:hover {
			ul.children { left: -1em; }
		}
		&:last-of-type { margin-right: 0; }
	}
	ul.children {
		background-color: #fff;
		padding: 1em;
		li {
			line-height: 1.2;
			padding: 10px 0;
			margin-right: 0;
		}
	}
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
	padding: 15px 5px 15px 0;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; }
	.hamburger:hover {
		opacity: 0.7; }

.hamburger-box {
	width: 20px;
	height: 16px;
	display: inline-block;
	position: relative;
	@include breakpoint(sm) {
		width: 30px;
		height: 14px;
	}
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; }
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 20px;
		height: 2px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
		@include breakpoint(sm) {
			width: 30px;
			height: 3px;
		} 
	}
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block; }
	.hamburger-inner::before {
		top: -8px;
		@include breakpoint(sm) {
			top: -10px;
		}
	}
	.hamburger-inner::after {
		bottom: -8px;
		@include breakpoint(sm) {
			bottom: -10px;
		} 
	}

/** 3DX **/
.hamburger--3dx .hamburger-box {
	perspective: 80px; }

.hamburger--3dx .hamburger-inner {
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), 
							background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
	.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
		transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
	}

.hamburger--3dx.is-active .hamburger-inner {
	background-color: transparent;
	transform: rotateY(180deg); }
	.hamburger--3dx.is-active .hamburger-inner::before {
		transform: translate3d(0, 10px, 0) rotate(45deg); 
		
		@include breakpoint(sm) {
			transform: translate3d(0, 10px, 0) rotate(45deg);
		}
	}
	.hamburger--3dx.is-active .hamburger-inner::after {
		transform: translate3d(0, -7px, 0) rotate(-45deg);
		
		@include breakpoint(sm) {
			transform: translate3d(0, -10px, 0) rotate(-45deg);
		} 
	}