strong {
	font-weight: $bold;
}

a {
	color: $link_color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;
	line-height: 1.1;
	font-family: Comic Sans Ms;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;	
}

.reverse {
	color: #fff;
	a { color: #fff; }
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}