*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
	background-color: $light;
	font-family: $body-font;
	font-size: 1rem;
	font-weight: $regular;
	line-height: 1.2;
}

.site-body {
	margin: 0 auto;
	background-color: $white;
	padding-top: $spacer*3.15;
	@include breakpoint(md) { padding-top: $spacer*5; }
}

section,
article {
	padding: $spacer 0;
	@include breakpoint(md) { padding: $spacer*2 0; }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin: 0 0 $spacer;
	.reverse & {
		color: $white;
	}
}

h1, h2, h3, h4, h5, h6 {
  display: block;
	font-family: $headings-font;
}

h1 { font-size:  1.75rem; @include breakpoint(md) { font-size:  2.75rem; } } // 28px | 44px
h2 { font-size:   1.5rem; } // 24px
h3 { font-size:  1.25rem; } // 20px
h4 { font-size:     1rem; } // 16px
h5 { font-size: .8125rem; } // 13px
h6 { font-size: .6875rem; } // 11px

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

h1.huge { font-size: 10rem; } // as used on 404 page

ul { 
	margin-left: 0;
	padding: 0;
	list-style: none;
	.entry-content &,
	.post-content & {
		padding-left: $spacer * 1.5;
		list-style: disc;
	} 
}

li {
	margin: 0;
	padding: 0;
	.entry-content &,
	.post-content & {
		margin-bottom: $spacer;
	}
}

strong { font-weight: $bold; }

a { 
	color: $link-color; 
	transition: color .2s $ease-default;
	cursor: pointer;
	&:visited { color: $link-color; }
	&:hover { color: darken( $link-color, 10 ); }
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

small { font-size: $small-font-size; }
.lead { font-size: $lead-font-size; }
