.pagination,
.comment-navigation,
.posts-navigation,
.post-navigation {
	width: 100%;
	.nav-links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.nav-previous,
	.nav-next {
		float: none;
		width: auto;
	}
}

/* ============================== 
	 Blog layout
	 ============================== */

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	.post-extract {
		margin-bottom: $spacer;
		@include breakpoint( md ) {
			margin-bottom: $spacer*2;
		}
	}
	.contents {
		word-break: break-word;
	}
	.link-wrap { 
		text-decoration: none;
		color: initial; 
	}
	.header { color: $body-color; }
	.categories {
		a {
			text-decoration: none;
			color: #666;
			padding: 0.25em .5em;
			background-color: #ccc;
		}
	}
}

/* Single Post */
.post-content {
	@include clearfix;
}