// Responsive breakpoint tab indicator
.resp-indicator {
	position: fixed;
	bottom: 30px;
	right: 0;
	width: 40px;
	height: auto;
	background-color: #E3E930;
	z-index: 99;
	&:after {
		content: 'tiny';
		text-transform: uppercase;
		color: #fff;
		letter-spacing: .025em;
		font-size: .85em;
		line-height: 2;
		text-shadow: 0 0 3px rgba(0,0,0,.25);
		position: relative;
		text-align: center;
		display: block;
	}
	@include breakpoint(sm) {
		background-color: #007bff;
		&:after { content: 'sm'; }
	}
	@include breakpoint(md) {
		background-color: #91E8BD;
		&:after { content: 'md'; }
	}
	@include breakpoint(lg) {
		background-color: #F5C071;
		&:after { content: 'lg'; }
	}
	@include breakpoint(xl) {
		background-color: gold;
		&:after { content: 'xl'; }
	}
	@include breakpoint(xxl) {
		background-color: #fa0000;
		&:after { content: 'xxl'; }
	}
}

// hide

.hide { display: none !important; }

.hide-sm-up { @include breakpoint(sm) { display: none !important; } }
.hide-md-up { @include breakpoint(md) { display: none !important; } }
.hide-lg-up { @include breakpoint(lg) { display: none !important; } }
.hide-xl-up { @include breakpoint(xl) { display: none !important; } }
.hide-xxl-up { @include breakpoint(xxl) { display: none !important; } }

.hide-sm-down { @include breakpoint(sm-max) { display: none !important; } }
.hide-md-down { @include breakpoint(md-max) { display: none !important; } }
.hide-lg-down { @include breakpoint(lg-max) { display: none !important; } }
.hide-xl-down { @include breakpoint(xl-max) { display: none !important; } }
.hide-xxl-down { @include breakpoint(xxl-max) { display: none !important; } }


// text alignment

.text-center,
.text-centre { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }


// text transform

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
