.block.section {

  // Image backgrounds always cover area, default from center
  &.bg_img {
    background-size: cover;
    background-position: center center;
  }
  &.bg_vid {
    position: relative;
    min-height: 500px;
    .content {
      position: relative;
      z-index: 1;
    }
  }
}