/* Colors */

$primary_color: 	#1a1a1a;
$main_copy: 			#595959;
$dark_grey: 			#4A4A4A;

/*	Grid system, define how many columns */
$cols: 4;
$col: calc(100% / #{$cols});
$gutter: 2em;
$col_pad: 3em;

/* Responsive Break Points */
$sm_bp: 40em;
$med_bp: 64em;
$lg_bp: 87.5em;

/* Fonts */
$work_sans: 'Work Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;


$regular: 400;
$medium: 	500;
$bold:		600;

/* Animation */
$elastic_easing : cubic-bezier(0.68, -0.55, 0.265, 1.55);